! Settings
URxvt.foreground: green
URxvt.background: black
URxvt.scrollBar: false
URxvt.saveLines: 10000
URxvt.cursorUnderline: true
URxvt.cursorBlink: true
URxvt.pointerBlank: true

! Fonts
URxvt.font: xft:monaco:size=8
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.hintstyle: hintfull
Xft.dpi: 165

! Change font size on the fly, tabs
URxvt.perl-ext-common:  resize-font,url-select

! Settings for url-select
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true
